.vs/
*.o
*.swp
~*
*~
.idea/
cmake-build-debug/
cmake-build-debugandtest/
cmake-build-release/
*.stackdump
*.coredump
compile_commands.json
/build*
/result*
.clangd
.cache

.DS_Store
.AppleDouble
.LSOverride

CMakeLists.txt.user*
CMakeCache.txt

*.tox
imgui.ini

*.wad

heaptrack/
crashes/

test_message_store/
test2_message_store/
tmp_avatar_dir/
tmp_save_dir/
tmp_send_files/
